@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin box-shadow($shadow-color) {
    box-shadow: 0 2px 5px $shadow-color;
  }
  
  @mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 600px) {
        @content;
      }
    }
  }
  